.btn {
	background: none;
	display: block;
	border: 1px solid rgb(12, 116, 196);
	background:  rgb(102, 164, 211);
	border-radius: 5px;
	margin: 10px;

}
.btn-basket {
	text-align: center;
	display: inline-block;
}